<div class="box">
  <div class="container">

    <input type="search" id="search" placeholder="Buscar" />
    <button class="boton_buscador">
      <img class="imagen" src="https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-128.png">
    </button>
    <!--<span class="icon" src="https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-128.png"><i class="fa fa-search"></i></span>-->
    <!--<span class="icon"style="background-image:url('https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-128.png');><i class="fa fa-search"></i></span>-->
    <!--<button class="boton" src="https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-128.png">-->
    <!--</button>-->
      </div>
</div>
