.sa-fondo-pelicula-banner {
  background-color: #000;
  width: 99%;

  margin-top: 1px;
  background:no-repeat center;
  position: center;
  background-size: 100% 100%;
  padding: 40% 0% 0% 0%;
  font-size: 14px;
}

.sa-color-letras-pelicula-banner {
  color: #fff
}

.sa-fondo-estado{
  max-width: 100px;
  text-align: center;
  /*padding: 50hv 0px 0px 0px;*/
}

.sa-color-estado-amarillo{
  background-color: #fabb00;

}

.sa-color-estado-rosado{
  background-color: #e3003e;
}
