<ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
  <ngb-panel title="Simple">
    <ng-template ngbPanelContent>

      <button pButton type="button" label="Click" ></button>
      <p-button label="Click" ></p-button>

      <button
        pButton
        type="button"
        label="Click"
        class="ui-button-success">

      </button>

      <button mat-button color="accent">
        clic me!
      </button>

      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
      aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
      sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
      craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
      occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
      labore sustainable VHS.
    </ng-template>
  </ngb-panel>
  <ngb-panel>
    <ng-template ngbPanelTitle>
      <span>&#9733; <b>Fancy</b> title &#9733;</span>
    </ng-template>
    <ng-template ngbPanelContent>
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
      aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
      sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
      craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
      occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
      labore sustainable VHS.
    </ng-template>
  </ngb-panel>
  <ngb-panel title="Disabled" [disabled]="true">
    <ng-template ngbPanelContent>
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
      aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
      sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
      craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
      occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
      labore sustainable VHS.
    </ng-template>
  </ngb-panel>
</ngb-accordion>















<!--<div class="row">-->
  <!--<div class="col-sm-6 text center" *ngFor="let pelicula of arregloPeliculas">-->
    <!--&lt;!&ndash;<img [src] = "pelicula.urlImagen"&ndash;&gt;-->
         <!--&lt;!&ndash;[alt] = "pelicula.descripcion">&ndash;&gt;-->
    <!--&lt;!&ndash;<h1>{{pelicula.nombre}} / {{pelicula.esEstreno}}</h1>&ndash;&gt;-->
    <!--&lt;!&ndash;<p>{{pelicula.descripcion}}</p>&ndash;&gt;-->
    <!--<app-pelicula-banner-->
      <!--[urlImagen]="pelicula.urlImagen"-->
      <!--[descripcionPelicula]="pelicula.descripcion"-->
      <!--[nombrePelicula]="pelicula.nombre"-->
      <!--[esEstreno]="pelicula.esEstreno"-->
      <!--(dioClickEnEstado)="alerta($event)"-->
    <!--&gt;-->

    <!--</app-pelicula-banner>-->

    <!--<button (click)="pelicula.esEstreno = !pelicula.esEstreno"> Cambiar es estreno</button>-->

  <!--</div>-->
<!--</div>-->















<!--<div class="row">-->

<!--<div class="col-sm-2" *ngFor="let numero of arregloNumeros; let indice = index">-->
<!--{{indice}}:Numero {{numero}}-->
<!--</div>-->

<!--<div class="col-sm-6">-->
<!--<h1 *ngIf="mostrarhola">HOLA</h1>-->
<!--<button (click)="mostrarhola">-->
<!--cambiar-->
<!--</button>-->
<!--</div>-->
<!--<div class="col-sm-6">-->
<!--<h1 *ngIf="!mostrarhola">MUNDO</h1>-->
<!--</div>-->

<!--</div>-->














-










<!--<header>-->
  <!--<div class="menu">-->
    <!--<div class="row">-->
      <!--<div class="col-sm-6"></div>-->
      <!--<div class="col-sm-6">-->
        <!--<app-menu-principal></app-menu-principal>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->

  <!--<div class="menu2">-->
    <!--<div class="row">-->
      <!--<div class="col-sm-5"></div>-->
      <!--<div class="col-sm-5">-->
        <!--<app-menu-secundario></app-menu-secundario>-->
      <!--</div>-->
      <!--<div class="col-sm-2">-->
        <!--<app-buscador></app-buscador>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->

<!--</header>-->

<!--<main>-->
  <!--<div class="peliculas">-->
    <!--<div class="row">-->

      <!--<div class="col-sm-6">-->
        <!--<app-pelicula-banner [urlImagen] = urlImagen1 [nombrePelicula]=tituloPelicula1 [esEstreno] = esEstreno1 ></app-pelicula-banner>-->
      <!--</div>-->

      <!--<div class="col-sm-6">-->
        <!--<app-pelicula-banner [urlImagen] = urlImagen2 [nombrePelicula]= tituloPelicula2 [esEstreno]= esEstreno2> </app-pelicula-banner>-->
      <!--</div>-->

    <!--</div>-->
  <!--</div>-->

  <!--<div class="peliculas2">-->
    <!--<div class="row">-->

      <!--<div class="col-sm-3">-->
        <!--<app-pelicula-banner [urlImagen] = urlImagen3 [nombrePelicula]=tituloPelicula3 [esEstreno]= esEstreno3> </app-pelicula-banner>-->
      <!--</div>-->

      <!--<div class="col-sm-3">-->
        <!--<app-pelicula-banner [urlImagen] = urlImagen4 [nombrePelicula]=tituloPelicula4 [esEstreno]= esEstreno4> </app-pelicula-banner>-->
      <!--</div>-->

      <!--<div class="col-sm-3">-->
        <!--<app-pelicula-banner [urlImagen] = urlImagen5 [nombrePelicula]=tituloPelicula5 [esEstreno]= esEstreno5> </app-pelicula-banner>-->
      <!--</div>-->

      <!--<div class="col-sm-3">-->
        <!--<app-pelicula-banner [urlImagen] = urlImagen6 [nombrePelicula]=tituloPelicula6 [esEstreno]= esEstreno6> </app-pelicula-banner>-->
      <!--</div>-->

    <!--</div>-->
  <!--</div>-->
<!--</main>-->

<!--<div class="titulo_pelicula">-->
  <!--<div class="row">-->
    <!--<div class="col-sm-12">-->
      <!--<app-titulo></app-titulo>-->
    <!--</div>-->
  <!--</div>-->

  <!--<div class="row">-->
    <!--<div class="col-sm-6">-->
      <!--<div class="row">-->
        <!--<div class="col-sm-6">-->
          <!--<div class="row">-->
            <!--<div class="col-sm-6">-->
              <!--<app-pelicula-banner [urlImagen] = urlImagen7 [nombrePelicula]=tituloPelicula7 [esEstreno]= esEstreno0></app-pelicula-banner>-->
            <!--</div>-->
            <!--<div class="col-sm-6">-->
              <!--<app-pelicula-banner [urlImagen] = urlImagen8 [nombrePelicula]=tituloPelicula8 [esEstreno]= esEstreno0></app-pelicula-banner>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="col-sm-6">-->
          <!--<div class="row">-->
            <!--<div class="col-sm-6">-->
              <!--<app-pelicula-banner [urlImagen] = urlImagen9 [nombrePelicula]=tituloPelicula9 [esEstreno]= esEstreno0></app-pelicula-banner>-->
            <!--</div>-->
            <!--<div class="col-sm-6">-->
              <!--<app-pelicula-banner [urlImagen] = urlImagen10 [nombrePelicula]=tituloPelicula10 [esEstreno]= esEstreno0></app-pelicula-banner>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="col-sm-6">-->
      <!--<div class="row">-->
        <!--<div class="col-sm-6">-->
          <!--<div class="row">-->
            <!--<div class="col-sm-6">-->
              <!--<app-pelicula-banner [urlImagen] = urlImagen11 [nombrePelicula]=tituloPelicula11 [esEstreno]= esEstreno0></app-pelicula-banner>-->
            <!--</div>-->
            <!--<div class="col-sm-6">-->
              <!--<app-pelicula-banner [urlImagen] = urlImagen12 [nombrePelicula]=tituloPelicula12 [esEstreno]= esEstreno0></app-pelicula-banner>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="col-sm-6">-->
          <!--<div class="row">-->
            <!--<div class="col-sm-6">-->
              <!--<app-pelicula-banner [urlImagen] = urlImagen13 [nombrePelicula]=tituloPelicula13 [esEstreno]= esEstreno0></app-pelicula-banner>-->
            <!--</div>-->
            <!--<div class="col-sm-6">-->
              <!--<app-pelicula-banner [urlImagen] = urlImagen14 [nombrePelicula]=tituloPelicula14 [esEstreno]= esEstreno0></app-pelicula-banner>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

















<!--<header>-->
<!--<div class="barra_menu">-->
<!--<div class="row">-->
<!--<div class="col-sm-6"></div>-->
<!--<div class="col-sm-6">-->
<!--<app-menu-principal></app-menu-principal>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--<div class="barra_menu2">-->
<!--<div class="row">-->
<!--<div class="col-sm-6"></div>-->
<!--<div class="col-sm-6">-->
<!--<app-menu-secundario></app-menu-secundario>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--<div class="peliculas">-->
<!--<div class="col-sm-6">-->
<!--<div class="row">-->
<!--&lt;!&ndash;<div class="col-sm-1"></div>&ndash;&gt;-->
<!--<div class="col-sm-12">-->
<!--<app-pelicula-banner> </app-pelicula-banner>-->
<!--</div>-->
<!--&lt;!&ndash;<div class="col-sm-1"></div>&ndash;&gt;-->
<!--</div>-->
<!--</div>-->

<!--<div class="col-sm-6">-->
<!--<div class="row">-->

<!--&lt;!&ndash;<div class="col-sm-1"></div>&ndash;&gt;-->

<!--<div class="col-sm-12">-->
<!--<app-pelicula-banner> </app-pelicula-banner>-->
<!--</div>-->

<!--&lt;!&ndash;<div class="col-sm-1"></div>&ndash;&gt;-->

<!--</div>-->

<!--</div>-->
<!--</div>-->
<!--</header>-->
