<div class="row">
  <div class="col-sm-6 text center" *ngFor="let pelicula of arregloPeliculas">
    <!--<img [src] = "pelicula.urlImagen"-->
         <!--[alt] = "pelicula.descripcion">-->
    <!--<h1>{{pelicula.nombre}} / {{pelicula.esEstreno}}</h1>-->
    <!--<p>{{pelicula.descripcion}}</p>-->
    <app-pelicula-banner
      [urlImagen]="pelicula.urlImagen"
      [descripcionPelicula]="pelicula.descripcion"
      [nombrePelicula]="pelicula.nombre"
      [esEstreno]="pelicula.esEstreno"
      (dioClickEnEstado)="alerta($event)"
    >

    </app-pelicula-banner>

    <button (click)="pelicula.esEstreno = !pelicula.esEstreno"> Cambiar es estreno</button>

  </div>
</div>















<!--<div class="row">-->

<!--<div class="col-sm-2" *ngFor="let numero of arregloNumeros; let indice = index">-->
<!--{{indice}}:Numero {{numero}}-->
<!--</div>-->

<!--<div class="col-sm-6">-->
<!--<h1 *ngIf="mostrarhola">HOLA</h1>-->
<!--<button (click)="mostrarhola">-->
<!--cambiar-->
<!--</button>-->
<!--</div>-->
<!--<div class="col-sm-6">-->
<!--<h1 *ngIf="!mostrarhola">MUNDO</h1>-->
<!--</div>-->

<!--</div>-->














-










<!--<header>-->
  <!--<div class="menu">-->
    <!--<div class="row">-->
      <!--<div class="col-sm-6"></div>-->
      <!--<div class="col-sm-6">-->
        <!--<app-menu-principal></app-menu-principal>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->

  <!--<div class="menu2">-->
    <!--<div class="row">-->
      <!--<div class="col-sm-5"></div>-->
      <!--<div class="col-sm-5">-->
        <!--<app-menu-secundario></app-menu-secundario>-->
      <!--</div>-->
      <!--<div class="col-sm-2">-->
        <!--<app-buscador></app-buscador>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->

<!--</header>-->

<!--<main>-->
  <!--<div class="peliculas">-->
    <!--<div class="row">-->

      <!--<div class="col-sm-6">-->
        <!--<app-pelicula-banner [urlImagen] = urlImagen1 [nombrePelicula]=tituloPelicula1 [esEstreno] = esEstreno1 ></app-pelicula-banner>-->
      <!--</div>-->

      <!--<div class="col-sm-6">-->
        <!--<app-pelicula-banner [urlImagen] = urlImagen2 [nombrePelicula]= tituloPelicula2 [esEstreno]= esEstreno2> </app-pelicula-banner>-->
      <!--</div>-->

    <!--</div>-->
  <!--</div>-->

  <!--<div class="peliculas2">-->
    <!--<div class="row">-->

      <!--<div class="col-sm-3">-->
        <!--<app-pelicula-banner [urlImagen] = urlImagen3 [nombrePelicula]=tituloPelicula3 [esEstreno]= esEstreno3> </app-pelicula-banner>-->
      <!--</div>-->

      <!--<div class="col-sm-3">-->
        <!--<app-pelicula-banner [urlImagen] = urlImagen4 [nombrePelicula]=tituloPelicula4 [esEstreno]= esEstreno4> </app-pelicula-banner>-->
      <!--</div>-->

      <!--<div class="col-sm-3">-->
        <!--<app-pelicula-banner [urlImagen] = urlImagen5 [nombrePelicula]=tituloPelicula5 [esEstreno]= esEstreno5> </app-pelicula-banner>-->
      <!--</div>-->

      <!--<div class="col-sm-3">-->
        <!--<app-pelicula-banner [urlImagen] = urlImagen6 [nombrePelicula]=tituloPelicula6 [esEstreno]= esEstreno6> </app-pelicula-banner>-->
      <!--</div>-->

    <!--</div>-->
  <!--</div>-->
<!--</main>-->

<!--<div class="titulo_pelicula">-->
  <!--<div class="row">-->
    <!--<div class="col-sm-12">-->
      <!--<app-titulo></app-titulo>-->
    <!--</div>-->
  <!--</div>-->

  <!--<div class="row">-->
    <!--<div class="col-sm-6">-->
      <!--<div class="row">-->
        <!--<div class="col-sm-6">-->
          <!--<div class="row">-->
            <!--<div class="col-sm-6">-->
              <!--<app-pelicula-banner [urlImagen] = urlImagen7 [nombrePelicula]=tituloPelicula7 [esEstreno]= esEstreno0></app-pelicula-banner>-->
            <!--</div>-->
            <!--<div class="col-sm-6">-->
              <!--<app-pelicula-banner [urlImagen] = urlImagen8 [nombrePelicula]=tituloPelicula8 [esEstreno]= esEstreno0></app-pelicula-banner>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="col-sm-6">-->
          <!--<div class="row">-->
            <!--<div class="col-sm-6">-->
              <!--<app-pelicula-banner [urlImagen] = urlImagen9 [nombrePelicula]=tituloPelicula9 [esEstreno]= esEstreno0></app-pelicula-banner>-->
            <!--</div>-->
            <!--<div class="col-sm-6">-->
              <!--<app-pelicula-banner [urlImagen] = urlImagen10 [nombrePelicula]=tituloPelicula10 [esEstreno]= esEstreno0></app-pelicula-banner>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="col-sm-6">-->
      <!--<div class="row">-->
        <!--<div class="col-sm-6">-->
          <!--<div class="row">-->
            <!--<div class="col-sm-6">-->
              <!--<app-pelicula-banner [urlImagen] = urlImagen11 [nombrePelicula]=tituloPelicula11 [esEstreno]= esEstreno0></app-pelicula-banner>-->
            <!--</div>-->
            <!--<div class="col-sm-6">-->
              <!--<app-pelicula-banner [urlImagen] = urlImagen12 [nombrePelicula]=tituloPelicula12 [esEstreno]= esEstreno0></app-pelicula-banner>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="col-sm-6">-->
          <!--<div class="row">-->
            <!--<div class="col-sm-6">-->
              <!--<app-pelicula-banner [urlImagen] = urlImagen13 [nombrePelicula]=tituloPelicula13 [esEstreno]= esEstreno0></app-pelicula-banner>-->
            <!--</div>-->
            <!--<div class="col-sm-6">-->
              <!--<app-pelicula-banner [urlImagen] = urlImagen14 [nombrePelicula]=tituloPelicula14 [esEstreno]= esEstreno0></app-pelicula-banner>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

















<!--<header>-->
<!--<div class="barra_menu">-->
<!--<div class="row">-->
<!--<div class="col-sm-6"></div>-->
<!--<div class="col-sm-6">-->
<!--<app-menu-principal></app-menu-principal>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--<div class="barra_menu2">-->
<!--<div class="row">-->
<!--<div class="col-sm-6"></div>-->
<!--<div class="col-sm-6">-->
<!--<app-menu-secundario></app-menu-secundario>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--<div class="peliculas">-->
<!--<div class="col-sm-6">-->
<!--<div class="row">-->
<!--&lt;!&ndash;<div class="col-sm-1"></div>&ndash;&gt;-->
<!--<div class="col-sm-12">-->
<!--<app-pelicula-banner> </app-pelicula-banner>-->
<!--</div>-->
<!--&lt;!&ndash;<div class="col-sm-1"></div>&ndash;&gt;-->
<!--</div>-->
<!--</div>-->

<!--<div class="col-sm-6">-->
<!--<div class="row">-->

<!--&lt;!&ndash;<div class="col-sm-1"></div>&ndash;&gt;-->

<!--<div class="col-sm-12">-->
<!--<app-pelicula-banner> </app-pelicula-banner>-->
<!--</div>-->

<!--&lt;!&ndash;<div class="col-sm-1"></div>&ndash;&gt;-->

<!--</div>-->

<!--</div>-->
<!--</div>-->
<!--</header>-->
